<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="icon-note"></i> Ajouter Véhicule
            <div class="card-header-actions">
              <a class="card-header-action" href="https://angular.io/guide/form-validation" target="_blank">
              </a>
            </div>
          </div>
          <div class="card-body">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <form (ngSubmit)="OnSubmit(f)"ngForm #f class="needs-validation">
                  <div class="form-group">
                    <label class="col-form-label" for="firstName">Marque</label>
                    
                    <input class="form-control"  id="marque" type="text" name="marque"  [(ngModel)]="marque" 
                    placeholder="Marque"    required   >
                          
                           
                          
                         
                           
                        
                           
                   
                    
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="lastName">Modéle</label>
                    <input class="form-control"
                           id="Modéle"
                           type="text"
                          name="modele"
                           placeholder="Modéle"
                           autocomplete="family-name"
                           required
                           [(ngModel)]="modele" 
                    >
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="username">Matricule</label>
                    <input class="form-control"
                           id="tel"
                           type="text"
                          name="matricule"
                           placeholder="Matricule"
                           required
                           [(ngModel)]="matricule" 
                    >
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary mr-1" type="submit" [disabled]="f.invalid">Submit</button> 
                  </div>
                </form>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  