<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-note"></i> Ajouter Chauffeur
          <a class="badge badge-danger" href="https://coreui.io/pro/">CoreUI Pro Component</a>
          <div class="card-header-actions">
            <a class="card-header-action" href="https://angular.io/guide/form-validation" target="_blank">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">Angular Form Validation
          <hr>
          <div class="row">
            <div class="col-md-6">
              <h6>Simple Form</h6>
              <form (ngSubmit)="OnSubmit(f)"ngForm #f class="needs-validation">
                <div class="form-group">
                  <label class="col-form-label" for="firstName">Name</label>
                  <input class="form-control"
                 
                         id="name"
                         type="text"
                        name="name"
                        [(ngModel)]="name" 
                         placeholder="First name"
                         autocomplete="given-name"
                         required
                         autofocus
                  >
                  
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="lastName">Adress</label>
                  <input class="form-control"
                         id="adress"
                         type="text"
                        name="adress"
                         placeholder="Adress"
                         autocomplete="family-name"
                         required
                         [(ngModel)]="adress" 
                  >
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="username">Telephone</label>
                  <input class="form-control"
                         id="tel"
                         type="text"
                        name="tel"
                         placeholder="telephone"
                         autocomplete="username"
                         required
                         [(ngModel)]="tel" 
                  >
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="email">Email</label>
                  <input class="form-control"
                         id="email"
                         name="email"
                         placeholder="Email"
                         autocomplete="email"
                         required
                         [(ngModel)]="email" 
                  >
                </div>
                <div class="form-group">
                  
                    <label class="col-form-label" for="password">Password</label>
                    <input class="form-control"
                           id="password"
                           type="password"
                          name="password"
                           placeholder="Password"
                           autocomplete="new-password"
                           required
                           [(ngModel)]="password" 
                    >
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="lastName">Image</label>
                    <input class="form-control"
                           id="lastName"
                           type="file"
                           (change)="onSelectFile($event)" 
                           name="image"
                           autocomplete="family-name"
                           required
                           [(ngModel)]="image" 
                    >
                  </div>
                
              
                <div class="form-group">
                  <button class="btn btn-primary mr-1" type="submit">Submit</button>
                  
                </div>
              </form>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
