<div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Striped Table
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Date registered</th>
              <th>Role</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let chauf of chauffeurs">
                                            
                <td>{{chauf.name}}</td>
                <td>{{chauf.adress}}</td>
                <td>{{chauf.tel}}</td>
                <td>{{chauf.email}} </td>
                <button type="button" class="btn btn-danger btn-circle" (click)="SuprimerChauffeur(chauf.id)"><i class="fa fa-trash-o"></i></button>
                <button type="button" class="btn btn-danger btn-circle" (click)="detailsChauffeur(chauf.id)"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-danger btn-circle" (click)="updateChauffeur(chauf.id)"><i class="fa fa-pencil" ></i></button>
               <td>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>